<!DOCTYPE html>
<html lang="ko">
<div class="wrap">

    <head>
        <%- include('../views/partials/head.ejs'); %>
        <link rel="stylesheet" href="/css/admin-category.css">
        <link rel="stylesheet" href="/css/admin-aside.css">
    </head>

    <body>
        <div class="grid">
        <%- include('../views/partials/admin-aside.ejs'); %>
<<<<<<< HEAD
        <article class="article">
            <p>카테고리 관리</p>
            <ul>
                <li>
                    category1
                    <button class="modify"> 수정 </button>
                    <button class="delete"> 삭제 </button>
                </li>
                <li>
                    category2
                    <button class="modify"> 수정 </button>
                    <button class="delete"> 삭제 </button>
                </li>
                <li>
                    category3
                    <button class="modify"> 수정 </button>
                    <button class="delete"> 삭제 </button>
                </li>
            </ul>
            <input type="text" class="add-form" id="add-form"/>
            <input type="submit" class="btn btn-submit" value="등록"/>
        </article>
        </div>
=======
            <article class="article">
                <p>카테고리 관리</p>

            </article>
>>>>>>> 8395d2d6839976ec0c7725816b5ac1d950b53002
    </body>
    <footer>
    </footer>
</div>

</html>