<!DOCTYPE html>
<html lang="ko">
    <div class="wrap">
    <head>
        <%- include('../views/partials/head.ejs'); %>
        <link rel="stylesheet" href="/css/admin-category.css">
        <link rel="stylesheet" href="/css/admin-aside.css">
    </head>
    <body>
        <div class="grid">
        <%- include('../views/partials/admin-aside.ejs'); %>
        <article class="article">
            <p>상품 목록</p>       
            <table>
                <tr>
                    <th>카테고리</th>
                    <th>이미지</th>
                    <th>상품명</th>
                    <th>제조사</th>
                    <th>가격</th>
                </tr>
                <tr>
                    <th href="#">.</th>
                    <th href="#">.</th>
                    <th href="#">.</th>
                    <th href="#">.</th>
                    <th href="#">.</th>
                </tr>
                <button class="btn-add-product">상품 등록</button>
                </table>  
        </article>
        </div>
    </body>
    <footer>
    </footer>
</div>
</html>