<link rel="stylesheet" href="/css/reset.css" />
<link rel="stylesheet" href="/css/admin-login.css" />

<!doctype html>
<html lang="ko">
    <head> </head>
    <body class="container">
        <header class="header"></header>
        <main class="contents-inner">
            <div class="login-wrap">
                <div class="header-logo">
                    <a href="http://localhost:3000/admin/category">
                        <img src="/image/admin-logo.png" alt="admin-logo" />
                    </a>
                </div>
                <form method="post" action="/admin/login" class="login-form">
                    <div class="login-box">
                        <input type="text" name="email" placeholder="이메일" />
                        <input type="password" name="password" placeholder="패스워드" />
                    </div>
                    <a href="http://localhost:3000/admin/category">
                        <button class="login-btn">
                            <span>LOGIN</span>
                        </button>
                    </a>
                    <a href="http://localhost:3000/admin/join">
                        <button class="join-btn">
                            <span>JOIN</span>
                        </button>
                    </a>
                </form>
            </div>
        </main>
        <footer class="footer"></footer>
    </body>
</html>
