<!DOCTYPE html>
<html lang="ko">
    <head>
    </head>
    <body>
        <aside>
            <a href="#">카테고리 관리</a>
            <a href="#">상품 관리</a>
            <a href="#">주문 관리</a>

            <button>로그아웃</button>
        </aside>

        <article>

        </article>
    </body>
    <footer>
    </footer>

</html>