<!DOCTYPE html>
<html lang="ko">
    <div class="wrap">
    <head>
        <link rel="stylesheet" href="/css/admin-category.css">
        <link rel="stylesheet" href="/css/admin-aside.css">
    </head>
    <body>
        <%- include('../views/partials/admin-aside.ejs'); %>
        <article class="article">
            <p>카테고리 관리</p>       
            
        </article>
    </body>
    <footer>
    </footer>
</div>
</html>