<!DOCTYPE html>
<html lang="ko">
    <div class="wrap">
    <head>
        <%- include('../views/partials/head.ejs'); %>
        <link rel="stylesheet" href="/css/admin.css">
        <link rel="stylesheet" href="/css/admin-aside.css">
        <link rel="stylesheet" href="/css/admin-order.css">
    </head>
    <body>
        <div class="grid">
            <%- include('../views/partials/admin-aside.ejs'); %>
            <article class="article">
                <h2>주문 관리</h2>
                <section>
                    <table>
                        <tr>
                            <th>날짜</th>
                            <th>주문 관리</th>
                            <th>주문 총액</th>
                            <th>준비/배송 상태</th>
                            <th>관리</th>
                        </tr>
                        <tr>
                            <td href="#">.</td>
                            <td href="#">.</td>
                            <td href="#">.</td>
                            <td href="#">
                                <select>
                                    <option>상품 준비중</option>
                                    <option>배송 중</option>
                                    <option>배송 완료</option>
                                </select></td>
                            <td href="#">
                                <button class="btn btn-large">
                                    주문 취소
                                </button>
                            </td>
                        </tr>
                    </table>
                </section>
            </article>
        </div>
    </body>
</div>
</html>