<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/footer.css">

<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../views/partials/head'); %>
</head>

<body class="container">

    <header class="header">
        <%- include('../views/partials/header'); %>
    </header>

    <main role="main" class="contents">
        <div class="contents-inner">

        </div>
    </main>

    <footer class="footer">
        <%- include('../views/partials/footer'); %>
    </footer>
</body>

</html>