<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../views/partials/head'); %>
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/main-cart.css">
        <link rel="stylesheet" href="/css/footer.css">
</head>

<body class="container">

    <header class="header">
        <%- include('../views/partials/header'); %>
    </header>

    <main role="main" class="contents">
        <div class="contents-inner">
            <div class="main-cart-wrap">
                <section class="user-aside">
                    <div id="snb" class="snb_my">
                        <h2 class="tit_snb">마이페이지</h2>
                        <div class="inner_sub">
                            <ul class="list_menu">
                                <li class="on">
                                    <a href="#">주문내역</a>
                                </li>
                                <li>
                                    <a href="#">개인 정보 수정</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <ul>
                    <li>
                        <section class="product-list">
                            <div class="company">주) 모던미 배송</div>
                            <div class="top">
                                <div class="image">
                                    <div class="box">
                                        <img src="#" alt="상품 썸네일">
                                    </div>
                                    <div class="info">
                                        <div class="name">[영가구][리뷰 23,000개] 베가 폴라 투명 접이식의자 17colors
                                        </div>
                                        <div class="delivery">배송비: 6000 | 일반택배</div>
                                    </div>
                                    <button class="cancel-icon" type="button">
                                        <img src="../image/cancel.png" alt="취소 아이콘">
                                    </button>
                                </div>
                            </div>
                            <div class="midle">
                                <div class="color">
                                    단품/대량: 단품구매 / 색상:라탄.투명(PC)
                                    <button class="cancel-icon" type="button">
                                        <img src="../image/cancel.png" alt="취소 아이콘">
                                    </button>
                                </div>
                                <div class="order-price">
                                    <div class="order">
                                        <button class="quantity-btn">-</button>
                                        <span class="quantity">1</span>
                                        <button class="quantity-btn">+</button>
                                    </div>
                                    <div class="price">
                                        <span>가격: </span>
                                        <span class="price">10,000원</span>
                                    </div>
                                </div>
                            </div>

                            <div class="bottom">
                                <div>옵션변경<span>|</span>바로구매</div>
                                <div>68,900원</div>
                            </div>
                        </section>
                    </li>
                    <li>
                        <section class="product-list">
                            <div class="company">주) 모던미 배송</div>
                            <div class="top">
                                <div class="image">
                                    <div class="box">
                                        <img src="#" alt="상품 썸네일">
                                    </div>
                                    <div class="info">
                                        <div class="name">[영가구][리뷰 23,000개] 베가 폴라 투명 접이식의자 17colors
                                        </div>
                                        <div class="delivery">배송비: 6000 | 일반택배</div>
                                    </div>
                                    <button class="cancel-icon" type="button">
                                        <img src="../image/cancel.png" alt="취소 아이콘">
                                    </button>
                                </div>
                            </div>
                            <div class="midle">
                                <div class="color">
                                    단품/대량: 단품구매 / 색상:라탄.투명(PC)
                                    <button class="cancel-icon" type="button">
                                        <img src="../image/cancel.png" alt="취소 아이콘">
                                    </button>
                                </div>
                                <div class="order-price">
                                    <div class="order">
                                        <button class="quantity-btn">-</button>
                                        <span class="quantity">1</span>
                                        <button class="quantity-btn">+</button>
                                    </div>
                                    <div class="price">
                                        <span>가격: </span>
                                        <span class="price">10,000원</span>
                                    </div>
                                </div>
                            </div>

                            <div class="bottom">
                                <div>옵션변경<span>|</span>바로구매</div>
                                <div>68,900원</div>
                            </div>
                        </section>
                    </li>
                    <li>
                        <section class="product-list">
                            <div class="company">주) 모던미 배송</div>
                            <div class="top">
                                <div class="image">
                                    <div class="box">
                                        <img src="#" alt="상품 썸네일">
                                    </div>
                                    <div class="info">
                                        <div class="name">[영가구][리뷰 23,000개] 베가 폴라 투명 접이식의자 17colors
                                        </div>
                                        <div class="delivery">배송비: 6000 | 일반택배</div>
                                    </div>
                                    <button class="cancel-icon" type="button">
                                        <img src="../image/cancel.png" alt="취소 아이콘">
                                    </button>
                                </div>
                            </div>
                            <div class="midle">
                                <div class="color">
                                    단품/대량: 단품구매 / 색상:라탄.투명(PC)
                                    <button class="cancel-icon" type="button">
                                        <img src="../image/cancel.png" alt="취소 아이콘">
                                    </button>
                                </div>
                                <div class="order-price">
                                    <div class="order">
                                        <button class="quantity-btn">-</button>
                                        <span class="quantity">1</span>
                                        <button class="quantity-btn">+</button>
                                    </div>
                                    <div class="price">
                                        <span>가격: </span>
                                        <span class="price">10,000원</span>
                                    </div>
                                </div>
                            </div>

                            <div class="bottom">
                                <div>옵션변경<span>|</span>바로구매</div>
                                <div>68,900원</div>
                            </div>
                        </section>
                    </li>
                </ul>

                <div class="right-price-info">
                    <div class="box">
                        <div class="price">
                            <div>총 상품금액</div>
                            <div>1,449,000</div>
                        </div>
                        <div class="price-num">
                            <div>결제금액</div>
                            <div>1,273,000</div>
                        </div>
                    </div>
                    <div class="btn">
                        <button>n개의 상품 구매하기</button>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <footer class="footer">
        <%- include('../views/partials/footer'); %>
    </footer>
</body>

</html>