<!doctype html>
<html lang="ko">
    <head>
        <%- include('../views/partials/head'); %>
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/order-complete.css" />
        <link rel="stylesheet" href="/css/footer.css" />
    </head>

    <body class="container">
        <header class="header"><%- include('../views/partials/header'); %></header>

        <main role="main" class="contents">
            <div class="contents-inner">
                <div class="order-complete-wrap">
                    <div class="icon-wrapper">
                        <img src="/image/order-complete-icon.png" alt="이미지 아이콘" />
                    </div>
                    <p class="complete-message">결제가 완료되었습니다.</p>
                    <a href="/order/:id/orderList" class="btn-main">주문조회 하기</a>
                </div>
            </div>
        </main>
        <footer class="footer"><%- include('../views/partials/footer'); %></footer>
    </body>
</html>
