<!doctype html>
<html lang="ko">
    <head>
        <%- include('../views/partials/head'); %>
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/signin.css" />
        <link rel="stylesheet" href="/css/footer.css" />
        <link rel="stylesheet" href="/css/product-sub.css" />
    </head>

    <body class="container">
        <header class="header"><%- include('../views/partials/header'); %></header>

        <main role="main" class="contents">
            <div class="contents-inner">
                <ul class="product-list">
                    <li>
                        <a href="#" class="product">
                            <div class="product-img">
                                <img src="/image/img-product01.jpg" alt="" />
                                <button type="button" class="btn-add-cart"></button>
                            </div>
                            <div class="product-info">
                                <p class="company">제조사</p>
                                <p class="title">상품명 상품명 상품명 상품명</p>
                                <p class="price">200,000<span class="unit">원</span></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="product">
                            <div class="product-img">
                                <img src="/image/img-product02.jpg" alt="" />
                                <button type="button" class="btn-add-cart"></button>
                            </div>
                            <div class="product-info">
                                <p class="company">제조사</p>
                                <p class="title">상품명 상품명 상품명 상품명</p>
                                <p class="price">200,000<span class="unit">원</span></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="product">
                            <div class="product-img">
                                <img src="/image/img-product03.jpg" alt="" />
                                <button type="button" class="btn-add-cart"></button>
                            </div>
                            <div class="product-info">
                                <p class="company">제조사</p>
                                <p class="title">상품명 상품명 상품명 상품명</p>
                                <p class="price">200,000<span class="unit">원</span></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="product">
                            <div class="product-img">
                                <img src="/image/img-product04.jpg" alt="" />
                                <button type="button" class="btn-add-cart"></button>
                            </div>
                            <div class="product-info">
                                <p class="company">제조사</p>
                                <p class="title">상품명 상품명 상품명 상품명</p>
                                <p class="price">200,000<span class="unit">원</span></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="product">
                            <div class="product-img">
                                <img src="/image/img-product01.jpg" alt="" />
                                <button type="button" class="btn-add-cart"></button>
                            </div>
                            <div class="product-info">
                                <p class="company">제조사</p>
                                <p class="title">상품명 상품명 상품명 상품명</p>
                                <p class="price">200,000<span class="unit">원</span></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="product">
                            <div class="product-img">
                                <img src="/image/img-product02.jpg" alt="" />
                                <button type="button" class="btn-add-cart"></button>
                            </div>
                            <div class="product-info">
                                <p class="company">제조사</p>
                                <p class="title">상품명 상품명 상품명 상품명</p>
                                <p class="price">200,000<span class="unit">원</span></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="product">
                            <div class="product-img">
                                <img src="/image/img-product03.jpg" alt="" />
                                <button type="button" class="btn-add-cart"></button>
                            </div>
                            <div class="product-info">
                                <p class="company">제조사</p>
                                <p class="title">상품명 상품명 상품명 상품명</p>
                                <p class="price">200,000<span class="unit">원</span></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="product">
                            <div class="product-img">
                                <img src="/image/img-product04.jpg" alt="" />
                                <button type="button" class="btn-add-cart"></button>
                            </div>
                            <div class="product-info">
                                <p class="company">제조사</p>
                                <p class="title">
                                    상품명 상품명 상품명 상품명명 상품명상품명상품명 상품
                                </p>
                                <p class="price">200,000<span class="unit">원</span></p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </main>
        <footer class="footer"><%- include('../views/partials/footer'); %></footer>
    </body>
</html>
