<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/signin.css">

<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body class="container">

    <header>
    </header>

    <main role="main" class="contents">
        <div class="contents-inner">
            <h1 class="h1">회원가입</h1>
            <section class="top">
                <nav class="left-nav">
                    <ul>
                        <li>아이디</li>
                        <li>비밀번호</li>
                        <li>비밀번호 확인</li>
                        <li>이름</li>
                        <li>이메일</li>
                        <li>휴대폰</li>
                        <li>주소</li>
                    </ul>
                </nav>
                <div class="input">
                    <span>
                        <input class="id" type="text" placeholder="6자 이상의 영문 혹은 영문과 숫자 조합">
                        <span>
                            중복확인
                        </span>
                    </span>
                    <input class="password" type="text" placeholder="비밀번호를 입력해주세요">
                    <input class="password-confirm" type="text" placeholder="비밀번호를 한번 더 입력해주세요">
                    <input class="name" type="text" placeholder="이름을 입력해 주세요">
                    <span>
                        <input class="email" type="text" placeholder="예:customit@custom.com">
                        <span>
                            중복확인
                        </span>
                    </span>
                    <input class="phone-number" type="text" placeholder="숫자만 입력해주세요">
                </div>
            </section>
            <section class="bottom">
                <a href="#" class="btn-signin">회원가입</a>
                <div class="login">
                    이미 아이디가 있으신가요?
                    <span>
                        <a href="#">로그인</a>
                    </span>
                </div>
            </section>
        </div>
    </main>
    <footer>
    </footer>
</body>

</html>