<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/signin.css">
<link rel="stylesheet" href="/css/footer.css">


<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../views/partials/head'); %>
</head>

<body class="container">

    <header class="header">
        <%- include('../views/partials/header'); %>
    </header>

    <main role="main" class="contents">
        <div class="contents-inner">
            <div class="signin-wrap">
                <div class="signin-text">
                    회원가입
                </div>
                <section class="top">

                    <div class="email">
                        <label>이메일</label>
                        <input type="text" id="emailInput" placeholder="예: customit@custom.com">
                        <div class="email-check" id="emailCheckBtn" onClick="validateEmail()">
                            <a href="#">중복확인</a>
                        </div>
                    </div>
                    <p id="emailCheck" style="color: red;"></p>

                    <script>
                        function validateEmail() {
                            let $emailInput = document.querySelector("#emailInput");
                            let $emailCheck = document.querySelector("#emailCheck");
                            let $emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

                            if ($emailInput.value.match($emailRegex)) {
                                $emailCheck.style.fontSize = "12px";
                                $emailCheck.textContent = "올바른 이메일 형식입니다.";
                                $emailCheck.style.color = "blue";
                            } else {
                                $emailCheck.style.fontSize = "12px";
                                $emailCheck.textContent = "올바른 이메일 형식이 아닙니다.";
                                $emailCheck.style.color = "red";
                            }
                        }
                    </script>


                    <div class="password">
                        <label>비밀번호</label>
                        <input type="password" id="passwordInput" placeholder="비밀번호를 입력해주세요"
                            onChange="validatePassword()">
                        <span><a href="#">중복확인</a></span>
                    </div>
                    <p id="passwordCheck" style="color:red;"></p>

                    <script>
                        function validatePassword() {
                            let $passwordInput = document.querySelector("#passwordInput");
                            let $passwordCheck = document.querySelector("#passwordCheck");
                            let $passwordRegex = /^(?=.*[a-zA-Z])(?=.*[!@#$%^+=-])(?=.*[0-9]).{8,15}$/;

                            if ($passwordInput.value.match($passwordRegex)) {
                                $passwordCheck.style.fontSize = "12px";
                                $passwordCheck.textContent = "안전한 비밀번호입니다.";
                                $passwordCheck.style.color = "blue";
                            } else {
                                $passwordCheck.style.fontSize = "12px";
                                $passwordCheck.textContent = "영문, 숫자, 특수기호 조합 8~15자리 이하로 입력해주세요.";
                                $passwordCheck.style.color = "red";
                            }
                        }
                    </script>

                    <div class="password-confirm">
                        <label>비밀번호확인</label>
                        <input type="password" id="passwordInputConfirm" placeholder="비밀번호를 한번 더 입력해주세요"
                            onChange="validatePasswordConfirm()">
                        <span><a href="#">중복확인</a></span>
                    </div>
                    <p id="pwConfirmCheck" style="color:red;"></p>
                    <script>
                        function validatePasswordConfirm() {
                            let $passwordInputConfirm = document.querySelector("#passwordInputConfirm");
                            let $passwordInput = document.querySelector("#passwordInput");
                            let $pwConfirmCheck = document.querySelector("#pwConfirmCheck");

                            if ($passwordInputConfirm.value === $passwordInput.value) {
                                $pwConfirmCheck.style.fontSize = "12px";
                                $pwConfirmCheck.textContent = "비밀번호가 일치합니다.";
                                $pwConfirmCheck.style.color = "blue";
                            } else {
                                $pwConfirmCheck.style.fontSize = "12px";
                                $pwConfirmCheck.textContent = "비밀번호가 일치하지 않습니다.";
                                $pwConfirmCheck.style.color = "red";
                            }
                        }
                    </script>

                    <div class="name">
                        <label>이름</label>
                        <input type="text" placeholder="이름을 입력해주세요">
                        <span><a href="#">중복확인</a></span>
                    </div>

                    <div class="phone-num">
                        <label>휴대폰</label>
                        <input type="tel" id="phoneNumInput" placeholder="'-' 없이 번호만 입력해주세요"
                            onchange="validatePhoneNum()" maxlength="13">
                        <span><a href="#">중복확인</a></span>
                    </div>
                    <p id="phoneNumCheck" style="color:red;"></p>
                    <script>
                        function validatePhoneNum() {
                            let $phoneNumInput = document.querySelector("#phoneNumInput");
                            let $phoneNumCheck = document.querySelector("#phoneNumCheck");
                            let $phoneNumRegex = /^[0-9]{8,13}$/;

                            if ($phoneNumInput.value.match($phoneNumRegex)) {
                                $phoneNumCheck.style.fontSize = "12px";
                                $phoneNumCheck.textContent = "올바른 휴대폰 번호입니다.";
                                $phoneNumCheck.style.color = "blue";
                            } else {
                                $phoneNumCheck.style.fontSize = "12px";
                                $phoneNumCheck.textContent = "8자리에서 13자리의 숫자로 입력해주세요.";
                                $phoneNumCheck.style.color = "red";
                            }
                        }
                    </script>

                    <div class="adress">
                        <label>주소</label>
                        <input type="text" id="addressInput" placeholder="우측 주소 검색을 클릭해주세요" readonly />
                        <div class="address-check" id="adressCheckBtn">
                            <div><a href="#" onClick="openKakaoMap()">주소검색</a></div>
                        </div>
                    </div>

                    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                    <script>
                        function openKakaoMap() {
                            new daum.Postcode({
                                oncomplete: function (data) {
                                    var $addressInput = document.querySelector("#addressInput");
                                    $addressInput.value = data.address;
                                    $addressInput.focus();
                                }
                            }).open();
                        }
                    </script>









                    </script>
                    <div div class="detailAddress">
                        <label>상세주소</label>
                        <input type="text" id="detailAddress" placeholder="상세주소를 입력해주세요">
                        <span><a href="#">중복확인</a></span>
                    </div>
                </section>

                <div class="bottom-wrap">
                    <a href="#" class="btn-signin" onclick="validateCondition()">회원가입</a>
                    <div class="login">
                        이미 아이디가 있으신가요?
                        <div>
                            <a href="#"> 로그인</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <%- include('../views/partials/footer'); %>
    </footer>
</body>

</html>