<!doctype html>
<html lang="ko">
    <head>
        <%- include('../views/partials/head.ejs'); %>
        <link rel="stylesheet" href="/css/user-login.css" />
        <link rel="stylesheet" href="/css/layout.css" />
    </head>
    <body class="container">
        <header class="header"></header>
        <main class="contents-inner">
            <div class="login-wrap">
                <div class="header-logo">
                    <a href="http://localhost:3000/">
                        <img src="/image/customit-big-logo1.png" alt="custom-it-logo" />
                    </a>
                </div>
                <form method="post" action="/users/login" class="login-form">
                    <div class="login-box">
                        <input type="text" name="email" placeholder="이메일" />
                        <input type="password" name="password" placeholder="패스워드" />
                    </div>
                    <a href="http://localhost:3000/users/login">
                        <button class="login-btn">
                            <span>LOGIN</span>
                        </button>
                    </a>
                    <a href="http://localhost:3000/users/join">
                        <button class="join-btn">
                            <span>JOIN</span>
                        </button>
                    </a>
                </form>
                <a href="http://localhost:3000/admin/login" class="admin-page">
                    <p>관리자이신가요&#63; 어드민 페이지로 이동 &gt;</p>
                </a>
            </div>
        </main>
        <footer class="footer"></footer>
    </body>
</html>
