.product{ 
    /**admin-aside 내부 class**/
    font-weight: bold;
    font-size: larger;
}

table{
    width:100%;
    border-top: 1px solid gray;
    border-collapse: collapse;
    color:#353535;;
}

td, th{
    width:20%;
    padding: 10px;
    border-bottom: 1px solid gray;
    text-align: center;
    vertical-align: middle;
}

th{
    font-weight: bolder;
}

.image{
    width: 30px;
    height: 30px;
}

.btn-add-product{
    position: absolute;
    right: 40px;
    margin-top: 10px;
}