<<<<<<< HEAD
=======
body {
    background-color: #dadada;
}

>>>>>>> 8395d2d6839976ec0c7725816b5ac1d950b53002
.aside {
    height: 100vh;
    background-color: #353535;
}

.aside .admin-logo {
    width: 75%;
    margin: 10px 0 0 15px;
}

.aside .nav {
    padding-left: 5px;
}

.aside .nav li {
    width: 80%;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    list-style: none;
}

.aside .nav li a {
    color: white;
    text-decoration: none;
}

<<<<<<< HEAD
.aside .logout{
    width: 100%;
}

.aside .logout .btn-logout{
    width: 90%;
    height: 50px;
    box-sizing: border-box;
    margin: 0 5% 0 5%;
=======
.aside .btn-logout {
    position: absolute;
    bottom: 20px;
    width: 50%;
    height: 50px;
    margin-bottom: 10px;
>>>>>>> 8395d2d6839976ec0c7725816b5ac1d950b53002
    border: 2px #1a1a1a solid;
    border-radius: 5px;
    background-color: #353535;
    color: #c9c9c9;
<<<<<<< HEAD
}
=======
}

.article {
    background-color: white;
}
>>>>>>> 8395d2d6839976ec0c7725816b5ac1d950b53002
