.category{ 
    /**admin-aside 내부 class**/
    font-weight: bold;
    font-size: larger;
}

.list-category-li{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    margin: 0 10%;
    border: 1px solid #adadad;
    list-style: none;
}

.add-category{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    margin: 0 10%;
    border: 1px #adadad solid;
}

.addNewCategory{
    display: none;
}

.checkCategory{
    margin-top: 3px;
    font-size: smaller;
    color: #A586F6;
}