.product{
    /**admin-aside 내부 class**/
    font-weight: bold;
    font-size: larger;
}
section{
    display: flex;
    justify-content: center;
}

table{
    width: 500px;
    margin-top: 10px;
    border-top:1px solid #353535;
    border-collapse: collapse;
    color:#353535;
}

td{
    padding: 10px;
    border-bottom: 1px solid #bbbbbb;
    vertical-align: middle;
}

td input{
    width: 70%;
}

.image-box {
    overflow: hidden;
    position: relative;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    background: #eee;
    cursor: pointer;
}

.image-box::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.image-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s;
}

.inputDescription{
    width: 70%;
    height: 100px;
}

.check{
    font-size: smaller;
    margin-top: 3px;
    color: #A586F6;
}

select{
    width: 70%;
    padding: 5px 10px 5px 10px;
}

/* .user-image{
    width: 500px;
    height: 300px;
    background-color: #dbdbdb;
} */

.add-image{
    overflow: hidden;
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
}

.add-image-label{
    padding: 3px 10px 3px 10px;
    background-color: #353535;
    color: white;
    font-weight: normal;
}

.btn-box{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-delete{
    text-decoration: none;
    margin-left: 10px;
}