.order{
    font-weight: bold;
    font-size: larger;
}

table{
    color:#353535;;
    width:100%;
    border-top:1px solid gray;
    border-collapse: collapse;
}

td, th{
    border-bottom: 1px solid gray;
    width:20%;
    padding: 10px;
    text-align: center;
}

select{
    width: 120px;
    padding: 10px;
    height: 40px;
}