/* 메인 페이지 */
.intro-main {
    display: flex;
    height: 500px;
    margin: 0 auto;
}

.intro-main .main-img {
    overflow: hidden;
    flex: 1;
    position: relative;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.intro-main .main-img::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.intro-main .main-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
}

.intro-main .main-img img:hover {
    transform: scale(1.04);
}

.intro-main .main-img .info {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 40px 60px;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.intro-main .main-img .info .title {
    font-size: 36px;
    font-weight: bold;
}

.intro-main .main-img .info .desc {
    margin-top: 20px;
}

.intro-main .main-items {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    flex: none;
    width: 280px;
    margin-left: 20px;
}

.intro-main .main-items .btn-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px 40px 10px 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    text-decoration: none;
    color: #303030;
    background-color: #fff;
    transition: all 0.2s;
}

.intro-main .main-items .btn-item:hover {
    transform: translateY(-4px);
    border-color: #a586f6;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.08);
}

.intro-main .main-items .btn-item:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    background: url('../image/icon-arrow-right.png') no-repeat center / 6px;
}

.intro-main .main-items .btn-item:hover:before {
    background-image: url('../image/icon-arrow-right-hover.png');
}

.intro-main .main-items .btn-item .item-img {
    overflow: hidden;
    flex: none;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 4px;
}

.intro-main .main-items .btn-item .item-img::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.intro-main .main-items .btn-item .item-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-main .main-items .btn-item .item-info {
    margin-left: 10px;
}

.intro-main .main-items .btn-item .item-info .title {
    padding-bottom: 8px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
}

.intro-main .main-items .btn-item .item-info .price {
    font-size: 12px;
}

.intro-main .main-items .btn-item .item-info .unit {
    padding-left: 3px;
}
