/* .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
} */
.cancel-message {
    color: #a19a9a;
    /* font-family: Jomhuria; */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.order-cancel-wrap {
    margin-top: 100px;
    text-align: center;
}

.icon-wrapper {
    flex-shrink: 0;
    width: 179px;
    height: 138px;
    margin-left: 525px;
}

.cancel-message {
    margin-bottom: 40px;
}

.btn-main {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    padding: 0 16px;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #a586f6;
    font-size: 18px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.btn-main:hover {
    background-color: #9b7ce9;
}
