/* #container,
#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main {
    border-bottom: 1px solid #f7f7f7;
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

#content {
    min-width: 1050px;
    padding-bottom: 120px;
}

.page_aticle {
    margin: 0 auto;
    width: 100%;
    max-width: 1050px;
}

.page_aticle.aticle_type2 {
    padding-top: 65px;
}

#snb {
    width: 200px;
}

#snb .tit_snb {
    padding: 8px 0 33px 1px;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #333;
    letter-spacing: -0.5px;
}

#snb .inner_sub {
    border: 1px solid #f2f2f2;
    border-bottom: 0;
}

#snb .list_menu li {
    border-bottom: 1px solid #f2f2f2;
}

#snb .list_menu li.on a,
#snb .list_menu li a:hover {
    background: #fafafa url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11_on.svg) no-repeat 174px
        52%;
    background-size: 6px 11px;
    font-weight: 700;
    color: #5f0080;
}

#snb .list_menu li a {
    display: block;
    overflow: hidden;
    padding: 15px 0 15px 20px;
    background: #fff url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11.svg) no-repeat 174px 52%;
    background-size: 6px 11px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    letter-spacing: -0.3px;
}

#snb .link_inquire {
    display: block;
    overflow: hidden;
    width: 200px;
    height: 60px;
    margin-top: 20px;
    padding: 9px 0 0 21px;
    border-radius: 0 100px 100px 0;
    background: #fafafa url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11_on.svg) no-repeat 174px
        25px;
    background-size: 6px 11px;
    font-size: 12px;
    color: #333;
    line-height: 20px;
}

#snb .link_inquire .emph {
    display: block;
    padding-bottom: 1px;
    font-weight: 700;
    font-size: 14px;
}

.page_aticle.aticle_type2:after {
    content: '';
    display: table;
    clear: both;
}

.page_aticle.aticle_type2 .page_section {
    float: right;
    width: calc(100% - 200px);
}

.page_aticle .head_aticle {
    padding: 5px 0 34px;
}

.page_aticle .head_aticle .tit {
    height: 36px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333;
    letter-spacing: -0.5px;
}

.page_aticle .head_aticle .tit_sub {
    padding-left: 11px;
    font-size: 14px;
    color: #999;
    line-height: 20px;
    letter-spacing: -0.3px;
    vertical-align: 3px;
}

.search_date {
    position: relative;
    z-index: 1;
}

.search_date .btn_layer {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -74px;
    width: 157px;
    height: 44px;
    padding: 11px 0 0 15px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #666;
    line-height: 18px;
    letter-spacing: -0.5px;
}

.search_date .btn_layer:after {
    content: '';
    position: absolute;
    left: 128px;
    top: 18px;
    width: 12px;
    height: 8px;
    background: url(https://res.kurly.com/pc/ico/2008/ico_down_12x8.svg) no-repeat 0 0;
    background-size: 12px 8px;
}

.search_date .layer_search {
    display: none;
    position: absolute;
    right: 0;
    top: -30px;
    width: 157px;
    border: 1px solid #dddfe1;
    border-top: 0;
}

.search_date .layer_search li:first-child {
    border-top: 0;
}

.search_date .layer_search li {
    background-color: #fff;
    border-top: 1px solid #dddfe1;
}

.search_date .layer_search a.on {
    background-color: #f7f7f7;
}

.search_date .layer_search a {
    display: block;
    overflow: hidden;
    height: 32px;
    padding: 7px 0 0 8px;
    font-size: 12px;
    color: #666;
    line-height: 18px;
    letter-spacing: -0.2px;
}

.section_orderlist .list_order {
    padding-top: 10px;
    border-top: 2px solid #333;
}

.section_orderlist .list_order .date {
    padding-top: 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #666;
}

.section_orderlist .list_order .order_goods {
    position: relative;
    margin-top: 10px;
    padding: 0 20px;
    border: 1px solid #dddfe1;
}

.section_orderlist .list_order .name {
    padding: 20px 0 13px;
    border-bottom: 1px solid #dddfe1;
}

.section_orderlist .list_order .name a {
    display: block;
    overflow: hidden;
    background: url(https://res.kurly.com/pc/ico/1806/ico_arrow_10x15.png) no-repeat 100% 1px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
}

.section_orderlist .order_info {
    overflow: hidden;
    padding: 14px 0 20px;
}

.section_orderlist .list_order .thumb {
    float: left;
    width: 60px;
    margin-right: 20px;
}

.section_orderlist .list_order .thumb img {
    width: 60px;
    height: auto;
}

.section_orderlist .list_order .desc {
    overflow: hidden;
    padding-top: 1px;
}

.section_orderlist .list_order .order_info dl:first-child {
    padding-top: 3px;
}

.section_orderlist .list_order .order_info dl {
    overflow: hidden;
    padding-top: 6px;
}

.section_orderlist .list_order .order_info dt {
    float: left;
    padding-right: 15px;
    font-size: 12px;
    color: #000;
    line-height: 20px;
}

.section_orderlist .list_order .order_info dd {
    float: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #000;
}

.section_orderlist .list_order .order_info .end {
    color: #514859;
}

.section_orderlist .list_order .order_info .status {
    color: #5f0080;
}

.section_orderlist .list_order .order_status {
    display: flex;
    position: absolute;
    right: 20px;
    bottom: 0;
    height: 114px;
    align-items: center;
}

.section_orderlist .list_order .inner_status {
    vertical-align: middle;
}

.section_orderlist .list_order .order_status .link {
    display: block;
    width: 100px;
    height: 34px;
    border: 1px solid #5f0080;
    background-color: #fff;
    font-size: 12px;
    color: #5f0080;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}

.page_aticle .layout-pagination {
    font-size: 0;
    text-align: center;
    margin: 60px 0 0;
}

.page_aticle .layout-pagination-first-page:first-child {
    border-left: 1px solid #ddd;
}

.page_aticle .layout-pagination-button:first-child {
    border-left: 0;
}

.page_aticle .layout-pagination a {
    cursor: pointer;
}

.page_aticle .layout-pagination a,
.page_aticle .layout-pagination strong {
    font-weight: 700;
    font-size: 12px;
}

body #container #main .layout-pagination-button:first-child {
    border-left: 1px solid #ddd;
}

.layout-pagination-prev-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-prev.png);
}

.layout-pagination-first-page,
.layout-pagination-prev-page,
.layout-pagination-next-page,
.layout-pagination-last-page {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: -9999px;
}

.layout-pagination-button {
    display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid #ddd;
    border-left: 0;
    vertical-align: top;
}

.layout-pagination-next-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-next.png);
}

.layout-pagination-last-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-last.png);
} */
