html,
body {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: #2f3438;
}

.user-aside {
    display: flex;
    justify-content: left;
    margin: 50px 0 0 0;
}

.order-contents {
    width: 800px;
    margin-left: 50px;
}
.order-aside-wrap {
    display: flex;
    justify-content: center;
}

.snb-my {
    width: 200px;
}

.snb-my .tit-snb {
    padding: 0 0 33px 1px;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    color: #333;
    letter-spacing: -0.5px;
}

.snb-my .inner-sub {
    border: 1px solid #f2f2f2;
    border-bottom: 0;
}

.snb-my .list-menu li {
    border-bottom: 1px solid #f2f2f2;
}

.snb-my .list-menu li a {
    display: block;
    overflow: hidden;
    padding: 15px 0 15px 20px;
    background: #fff url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11.svg) no-repeat 174px 52%;
    background-size: 6px 11px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    letter-spacing: -0.3px;
    text-decoration: none;
}

.title-wrap {
    margin-left: 40px;
}

.cont-title {
    font-size: 25px;
    font-weight: 500;
}

.order-list-wrap {
    margin-left: 40px;
    margin-top: 30px;
}

.btn-cancel {
    width: 69px;
    height: 24px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.horizontal-pale-line {
    margin-top: 13px;
    border-top: 1px solid #cacaca;
    height: 2px;
    width: 600px;
}
.item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 4px;
}

.item .sub {
    margin-right: 50px;
}

.order-status {
    color: #a586f6;
}
.arrow-icon {
    position: relative;
    top: -102px;
    margin-left: 575px;
}

.order-box {
    display: flex;
    gap: 30px;
    align-items: center;
    position: relative;
    padding: 20px 80px 20px 20px;
    border: 1px solid rgb(220, 220, 220);
    border-width: 1px 0 1px 0;
    box-sizing: border-box;
    background: url('../image/icon-orderlist-arrow.png') no-repeat right 20px center / 10px;
}

.order-box .thum {
    overflow: hidden;
    flex: none;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 6px;
    background: #eee;
}

.order-box .thum::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.order-box .thum img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.order-box .btnbox {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
}

.order-item + .order-item {
    margin-top: 20px;
}

.order-item .date-tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.snb_my {
    width: 200px;
}

.aside-section-wrap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.snb_my .tit_snb {
    padding: 8px 0 33px 1px;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #333;
    letter-spacing: -0.5px;
}

.snb_my .inner_sub {
    border: 1px solid #f2f2f2;
    border-bottom: 0;
}

.snb_my .list_menu li {
    border-bottom: 1px solid #f2f2f2;
}

.snb_my .list_menu li.on a:hover,
.snb_my .list_menu li a:hover {
    background: #fafafa url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11_on.svg) no-repeat 174px
        52%;
    background-size: 6px 11px;
    color: #666;
}

.snb_my .list_menu li a {
    display: block;
    overflow: hidden;
    padding: 15px 0 15px 20px;
    background: #fff url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11.svg) no-repeat 174px 52%;
    background-size: 6px 11px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    letter-spacing: -0.3px;
    text-decoration: none;
}

.snb_my .link_inquire {
    display: block;
    overflow: hidden;
    width: 200px;
    height: 60px;
    margin-top: 20px;
    padding: 9px 0 0 21px;
    border-radius: 0 100px 100px 0;
    background: #fafafa url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11_on.svg) no-repeat 174px
        25px;
    background-size: 6px 11px;
    font-size: 12px;
    color: #333;
    line-height: 20px;
}

.snb_my .link_inquire .emph {
    display: block;
    padding-bottom: 1px;
    font-weight: 700;
    font-size: 14px;
}
