.btn-main {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    padding: 0 16px;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #a586f6;
    font-size: 18px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.btn-main:hover {
    background-color: #9b7ce9;
}

.btn-main-line {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    padding: 0 16px;
    border: 1px solid #a586f6;
    border-radius: 6px;
    font-size: 18px;
    color: #a586f6;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.btn-main-line:hover {
    background-color: #f6f3ff;
}

.product-info {
    display: flex;
    gap: 60px;
    padding: 0 60px;
    box-sizing: border-box;
}

.product-info .image-box {
    overflow: hidden;
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background: #eee;
    cursor: pointer;
}

.product-info .image-box::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.product-info .image-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s;
}

.product-info .image-box:hover img {
    transform: scale(1.02);
}

.product-info .info-box {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}
.product-info .info-box .company {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #909090;
}

.product-info .info-box .name {
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
}

.product-info .info-box .price {
    margin-top: 20px;
    font-size: 24px;
}
.product-info .info-box .bottom {
    margin-top: auto;
}

.product-info .info-box .total {
    text-align: right;
    font-size: 15px;
}

.product-info .info-box .total .total-price {
    font-size: 32px;
    font-weight: bold;
}

.product-info .info-box .total .unit {
    padding-left: 6px;
}

.product-info .info-box .btn-box {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.product-info .info-box .btn {
    flex: 1 1 calc(50% - 20px);
}

.product-detail {
    margin-top: 80px;
    padding: 0 60px;
    box-sizing: border-box;
}

.product-detail .title {
    padding-bottom: 20px;
    font-size: 24px;
}

.product-detail .desc-box {
    padding: 40px 60px;
    border-radius: 20px;
    box-sizing: border-box;
    line-height: 21px;
    word-break: keep-all;
    background-color: #eee;
}
