        <aside class="aside">
            <img class="admin-logo" src="/image/admin-logo.png">   
            <ul class="nav">
            <li><a href="#" class="nav-category">카테고리 관리</a></li>
            <li><a href="#" class="nav-product">상품 관리</a></li>
            <li><a href="#" class="nav-order">주문 관리</a></li>
            </ul>

            <button class="btn btn-logout">로그아웃</button>

        </aside>
