        <aside class="aside">
            <img class="admin-logo" src="/image/admin-logo.png">   
                <ul class="nav">
                    <li class="nav-li"><a href="#" class="category nav-li-a">카테고리 관리</a></li>
                    <li class="nav-li"><a href="#" class="product nav-li-a">상품 관리</a></li>
                    <li class="nav-li"><a href="#" class="order nav-li-a">주문 관리</a></li>
                </ul>
            <div class="logout">
                <button class="btn btn-logout">로그아웃</button>
            </div>
        </aside>
        