<div class="footer-inner">
        <div class="top">
            <p>이용약관</p>
            <p>개인정보처리방침</p>
            <p>사업자정보확인</p>
        </div>
        <div class="bottom">
            <p>상호 : 커스텀 잇 Custom
                IT | 대표:Elice | 프론트엔드담당:신혜정, 송서현, 이남경, 박수현, 김수연, 최형욱 | 백엔드담당:김수연, 신혜정, 송서현 | 전화:000-0000-0000 |
                이메일 : customit@custom.it</p>
            <p>주소:(00000)서울 성동구 성수동 000, 00동, 000호 (반품
                주소지X) | 사업자등록번호:000-00-00000 | 통신판매 : 2023-서울성동-0000 | 호스팅제공자 : (주) 엘리스</p>
            <p>Copyright 2023. bucketplace, Co., Ltd. All rights reserved.</p>
        </div>
    </div>