<div class="footer-inner">
    <div class="project-info">
        <ul>
            <li><span class="title">Company</span> <span>커스텀 잇 Custom IT</span></li>
            <li><span class="title">Leader</span> <span>신혜정</span></li>
            <li>
                <span class="title">프론트엔드</span>
                <span>박수현, 이남경, 최형욱, 김수연, 송서현 , 신혜정</span>
            </li>
            <li><span class="title">백엔드</span> <span>김수연, 송서현 , 신혜정</span></li>
        </ul>
        <p class="copyright">Copyright 2023. Custom IT, Co., Ltd. All rights reserved.</p>
    </div>
    <ul class="skills-list">
        <li><img src="/image/icon-html.png" alt="HTML" /></li>
        <li><img src="/image/icon-css.png" alt="CSS" /></li>
        <li><img src="/image/icon-js.png" alt="JavaScript" /></li>
        <li><img src="/image/icon-node.png" alt="node JS" /></li>
        <li><img src="/image/icon-mongodb.png" alt="mongo DB" /></li>
    </ul>
</div>
