<div class="header-inner">
    <h1 class="logo">
        <a href="/">
            <img src="/image/customit-logo.png" alt="커스텀잇 로고" />
        </a>
    </h1>
    <nav class="nav">
        <ul class="gnb">
            <% categories.forEach(function(category) { %>
            <li>
                <% if (category.name.localeCompare(categoryName)) { %>
                <a href="/product/sub/<%= category.name %>" class="btn-gnb">
                    <%= category.name %>
                </a>
                <%} else { %>
                <a href="/product/sub/<%= category.name %>" class="btn-gnb active">
                    <%= category.name %>
                </a>
                <% } %>
            </li>
            <% }); %>
        </ul>
        <ul class="utils">
            <li>
                <a href="#" class="btn btn-cart" title="장바구니"></a>
            </li>
            <li>
                <a href="#" class="btn btn-user" title="마이페이지"></a>
            </li>
            <li><a href="/users/login" class="btn btn-login">로그인</a></li>
            <li><a href="/users/join" class="btn btn-signin">회원가입</a></li>
            <li><a href="#" class="btn btn-logout">로그아웃</a></li>
        </ul>
    </nav>
</div>
