<header class="header">
    <div class="header-inner">
        <h1 class="logo">
            <a href="/">
                <svg width="185" height="32" viewBox="0 0 185 32" preserveAspectRatio="xMidYMid meet">
                    <image xlink:href="/image/custom-it-logo.svg" alt="Custom IT 로고" />
                </svg>
            </a>
        </h1>
        <nav class="nav">
            <ul class="gnb">
                <li><a href="#" class="btn">노트북</a></li>
                <li><a href="#" class="btn">태블릿</a></li>
                <li><a href="#" class="btn">PC관련기기</a></li>
            </ul>
            <ul class="utils">
                <li><a href="#" class="btn btn-cart">
                        <svg width="36" height="36" viewBox="0 0 36 36" preserveAspectRatio="xMidYMid meet">
                            <image xlink:href="/image/cart-icon.svg" />
                    </a></li>
                <li><a href="#" class="btn btn-user">
                        <svg width="36" height="36" viewBox="0 0 36 36" preserveAspectRatio="xMidYMid meet">
                            <image xlink:href="/image/people-icon.svg" />
                    </a></li>
                <li><a href="#" class="btn btn-login">로그인</a></li>
                <li><a href="#" class="btn btn-signin">회원가입</a></li>
                <li><a href="#" class="btn btn-logout">로그아웃</a></li>
            </ul>
        </nav>
    </div>
</header>