<div class="header-inner">
    <h1 class="logo">
        <a href="/">
            <img src="/image/customit-logo.png" alt="커스텀잇 로고" />
        </a>
    </h1>
    <nav class="nav">
        <ul class="gnb">
            <% categories.forEach(function(category) { %>
                <li>
                    <% if (category.name.localeCompare(categoryName)) { %>
                        <a href="/product/sub/<%= category.name %>" class="btn-gnb">
                            <%= category.name %>
                        </a>
                        <%} else { %>
                            <a href="/product/sub/<%= category.name %>" class="btn-gnb active">
                                <%= category.name %>
                            </a>
                            <% } %>
                </li>
                <% }); %>
        </ul>
        <ul class="utils">
            <li>
                <a href="/order/cart" class="btn btn-cart" title="장바구니"></a>
            </li>
            <li>
                <a href="/users/info" class="btn btn-user" id="btn-user" title="마이페이지"></a>
            </li>
            <li>
                <a href="/users/login" class="btn btn-login" id="btn-login">로그인</a>
            </li>
            <li>
                <a href="/users/join" class="btn btn-signin" id="btn-signin">회원가입</a>
            </li>
            <li>
                <a href="#" class="btn btn-logout" id="btn-logout">로그아웃</a>
            </li>
        </ul>
    </nav>
</div>
<script>
    const $btnLogin = document.querySelector('#btn-login');
    const $btnLogout = document.querySelector('#btn-logout');
    const $btnSignin = document.querySelector('#btn-signin');
    const $btnUser = document.querySelector('#btn-user');
    $btnLogout.addEventListener('click', btnLogout);
    if (document.cookie) {
        $btnLogin.style.display = 'none';
        $btnSignin.style.display = 'none';
    }
    if (!document.cookie) {
        $btnLogout.style.display = 'none';
        $btnUser.style.display = 'none';
    }
    async function btnLogout(e) {
        e.preventDefault();

        const apiUrl = '/api/users/logout';
        const res = await fetch(apiUrl, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        });

        if (res.status === 200) {
            window.location.href = res.url;
        } else {
            alert(res.message);
        }
    }
</script>